<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Detail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <a class="btn btn-primary" role="button" href="/">home</a> <br>
    <a class="btn btn-primary" role="button" href="/update/<%=student._id%>/?name=<%=student.name%>&animal=<%=student.animal%>">update</a> <br>
    <a class="btn btn-primary" role="button" href="/delete/<%=student._id%>">PURGE</a> <br>
    ID = <%= student._id %> <br>
    name = <%= student.name %> <br>
    spirit animal = <%= student.animal %> <br>
  </body>
</html>
